* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #690875;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #a429eb;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #0a0a0a;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    margin-top: 40px;
}
